@import url("https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Manrope:wght@200..800&display=swap");

.accordion-item {
  margin-bottom: 0.1rem solid #d7d7d7;
}

.accordion-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  font-size: 2rem;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  color: #1c1c1c;
  margin-bottom: 2.4rem;
}

.accordion-title:hover {
  background-color: #3ab4cc;
}

.accordion-content {
  font-size: 1.5rem;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  color: #617275;
  justify-content: space-between;
  gap: 2.4rem;
  margin-bottom: 2.4rem;
  
}


.title question {
  color: #1c1c1c;
  font-family: "Manrope", sans-serif;
  font-size: 2.6rem;
  font-weight: 600;
  height: 2.8rem;
  
}

.text-23-Container{
  display: flex;
  justify-content: space-between;
}